body{
    font-weight: bolder;
    font-family: system-ui;
}
h1{
    color: blue;
    background-color: aliceblue;
}

h2 {
    color: aliceblue;
    background-color: black;
}

p{
    color: red;

}